
<section class="calculator">
    <section class="fields">
      <h1 >BMI 計算機</h1>
     
      <div class="bmi_calcu">
        <label for="bodyHeight">身高 :</label>
        <input type="number" class="bodyHeight" min="0">CM
      
      
        <label for="bodyWeight">體重:</label>
        <input type="number" class="bodyWeight" min="0">Kg
      </div>
      <div class="btn_block">
      <input type="submit" value="計算"  class="calcualteBMI"> 
      <i class="fas fa-undo reset" title="重新整理"></i>
        </div>
      
   
        </div>
    </section>

    <section class="result">
      <h2 class="result_txt">你的BMI：</h2>
       
      <p id="bmiText"></p>
      <p id="resultText">0</p>
     
    </section>
  <section class="bottom">
    
    
  </section>
  

  </section>


