$color_black: #444;
$color_yellow: #FFC954;
$color_red: #FF3D4A;
$color_white: #f3f3f3;
body {
  position: relative;
  font-family:  'Roboto Condensed', sans-serif , "微軟正黑體";
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color_yellow;
}

.clearfix {
  clear: both;
}

.calculator {
  max-width: 600px;
  margin: 20px auto;
  border: solid 4px $color_black;
  padding: 30px;
  background-color: $color_white;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);

  h1 {
    font-weight: 200;
    font-size: 2em;
    text-align:center;
    padding: 10px 20px;
    margin: -20px  -20px 0 -20px;
 
    border-bottom: solid 4px #444;
    background-color: $color_red;
    color: #f3f3f3;
    font-weight: 600;
  }

  h2 {
     
    margin: 20px;
    text-align: center;
  }
}

.fields, .result {
  // width: 50%;
  // float: left;
}
.fields{
  .bmi_calcu{
    padding: 16px 3px;
    margin-top: 20px;
    BORDER: 3px solid $color_black;
    font-size: 1.3em;
    align-items: center;
  }
  label{
    margin-left: 20px;
  }
}

#resultText {
 
  text-align: center;
  font-weight: 100;
  font-size: 100px;
}

#bmiText {
  margin: 0 auto;
  text-align: center;
  padding:12px 5px;
  font-size: 1.6rem;
  color:$color_white;    
  background-color: $color_red;
  width: 20%;
}
.btn_block{
  text-align:center;
  .reset{
    cursor:pointer;
    margin-left: 10px;
    color:$color_white;
    padding: 6px;
    font-size: 1.2rem;
    border-radius: 50%;
    background: $color_red;
  }
}
input {
  &[type="number"] {
   
    font-size: 1.5em;
    /* margin-top: 10px; */
    margin-left: 15px;
    width: 26%;
    margin-right: 15px;
    /* padding: 0 2px; */
    border: solid 3px;
  
  }

  &[type="submit"] {
    cursor:pointer;
        margin: 30px -5px 0px 20px;
    width: 22%;
    padding: 8px 10px;
    border: 4px solid $color_black;
   
    font-size: 1.6em;
  
  }
}